<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
    {% block head %}
    {% endblock %}
  </head>

  <body>
  {% block header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block footer %}
  {% endblock %}
  </body>
</html>