{% extends '_layout.twig' %}

{% set title = 'Stripe Demo for Tiller' %}

{% block content %}
  <div id="payment" class="wrapper">
    <div class="wrapper_container">
      <div class="site-wrapper active" id="target">
        <img class="logo" src="https://www.tillersystems.com/wp-content/uploads/2016/10/logo_light@2x.png" alt="Tiller Systems"/>
        <h1>Pay with Stripe Demo</h1>
        <form action="/payments" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ Config.stripe.publishable_key }}"
            data-amount="999"
            data-name="Stripe Demo for Tiller"
            data-description="Widget"
            data-image="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-1/p200x200/19274802_972606599548174_2542127940966747807_n.png?_nc_cat=0&oh=f4d19bbefe912cbb1c7e1b2f6c73e6a7&oe=5B8E06A0"
            data-locale="auto"
            data-currency="eur">
          </script>
        </form>
        <a class="btn" href="/dash">Go to dashboard</a>
      </div>
    </div>
  </div>
{% endblock %}