{% extends '_layout.twig' %}

{% set title = 'Stripe Demo for Tiller' %}

{% block content %}
  <div id="payment" class="wrapper">
    <div class="wrapper_container">
      <div class="site-wrapper active" id="target">
        <img class="logo" src="https://www.tillersystems.com/wp-content/uploads/2016/10/logo_light@2x.png" alt="Tiller Systems"/>
        <h1>Thanks !</h1>
        <p>Your payment has been successfully submitted !</p>
        <a class="btn" href="/dash">Go to dashboard</a>
      </div>
    </div>
  </div>
{% endblock %}