* {
    box-sizing: border-box;
}

body {
    background: lightgray;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    *{
        font-size:14px;
    }
}

.row {
    &:after, &:before {
        content: '';
        display: table;
        clear: both;
    }
    margin: 0 -15px;
}

.col-1 { width: 33.333%; padding: 0 15px; float: left; }
.col-2 { width: 66.666%; padding: 0 15px; float: left; }
.col-3 { width: 100%; padding: 0 15px; float: left; }

.wrapper {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    &_container {
        width: 100%;
    }
}