#dashboard{
    .site-wrapper {
        min-height: 100%;
        background: #ECECEC;
        overflow: hidden;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.23);

        padding-left: 80px;
        padding-right: 30px;
        padding-top: 85px;
        padding-bottom: 30px;

        position: relative;
        transition: padding .3s linear;

        h1{
            font-size: 20px;
            font-weight: normal;
            text-transform: uppercase;
        }

        &_left-col {
            position: absolute;
            background: $blue;

            width: 45px;
            height: 100%;
            top: 0;
            left: 0;
            
            transition: width .3s ease-in-out;
            overflow: hidden;
            z-index: 20;
            
            .logo {
                display: block;
                background: $darkblue;

                padding: 15px;
                
                text-decoration: none;
                color: transparent;
                text-align: center;
                
                transition: background .2s linear;
            }
            .left-nav {
                a {
                    display: block;
                    line-height: 45px;
                    border-left: 0 solid $blue;
                    padding: 0 15px;
                    text-transform: uppercase;
                    color:white;
                    text-decoration: none;
                    letter-spacing: 2px;
                    border-bottom: 1px solid rgba(189,189,189,0.2);
                    transition: all .2s ease-in-out;
                    white-space: nowrap;
                    i {
                        width: 35px;
                    }
                    &:hover, &:focus, &.active {
                        background: $darkblue;

                        border-left-color: $lightblue;
                        border-left-width: 5px;
                    }
                }
            }
        }
        &_top-bar {
            height: 64px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: $darkblue;
            z-index: 10;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
            text-align: right;
            a {
                display: inline-block;
                vertical-align: middle;
                width: 55px;
                height: 55px;
                line-height: 55px;
                text-align: center;
                transition: all .2s linear;
                color: $lightblue;
                &:hover, &.active {
                    background: $lightblue;
                    color: rgba(255, 255, 255, 0.6);
                }
            }
        }
        &.active {
            padding-left: 230px;
            .site-wrapper_left-col {
                width: 200px;
                .logo {
                    color: rgba(255, 255, 255, 0.6);
                    img{
                        width:100%;
                    }
                }
            }
        }

        table{
            width : 100%;
            background: $darkblue;
            padding: 15px 0 5px 0;
            border-radius: 3px;

            th, tr{
                text-align: center;
            }

            thead{
                tr>th{
                    padding-bottom: 15px;
                    color:white;
                    font-size: 16px;
                    font-weight: normal;
                }
            }

            tbody{
                tr{
                    th, td{
                        color : white;
                        background: $blue;
                        padding: 10px 0;
                        border-bottom: 1px solid rgba(189,189,189,0.2);
                    }

                    &:last-child th,
                    &:last-child td
                    {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}