form#login {
    width: 360px;
    max-width: 360px;
    padding: 45px;
    margin: auto;
    background: white;
    text-align: center;
    input {
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }
    input[type=submit] {
        text-transform: uppercase;
        outline: 0;
        background:$blue;
        width: 100%;
        border: 0;
        padding: 15px;
        color: white;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        
        &:hover,
        &:active,
        &:focus {
            background:$darkblue;
        }
    }
}