#payment{
    background: $darkblue;
    
    .logo{
        margin: 20px;
        width: 300px;    
    }

    p{
        color:white;
    }

    .wrapper_container{
        text-align: center;

        h1{
            font-size: 20px;
            font-weight: bold;
            color: white;
        }

        a.btn{
            display: inline-block;
            position: relative;

            padding: 0 12px;
            margin: 10px 0;

            height: 30px;
            line-height: 30px;

            background: white;
            border-radius: 5px;

            color: $darkblue;
            font-weight: bold;
            text-decoration: none;

            &:hover{
                background: #DCDCDC;
            }
        }
    }
}